@font-face {
    font-family: 'Maplestory';
    font-weight: 300;
    font-style: normal;
    src: url('../../fonts/Maplestory_Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Maplestory';
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/Maplestory_Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gyeonggi Title';
    font-weight: 300;
    font-style: normal;
    src: url('../../fonts/Title_Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gyeonggi Title';
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/Title_Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gyeonggi Title';
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/Title_Bold.woff') format('woff');
    font-display: swap;
}

